<div id="view-goal" class="page row">
	<div class="col-xs-12 card">
		<h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Today's Goals</h4>
		<hr />
		<div class="goal-panel panel panel-primary">
			<div class="goal-panel-heading panel-heading container-fluid">
				<div class="col-xs-10">Brush Teeth</div>
				<div class="col-xs-2 text-right">
					<span class="options glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
				</div>
			</div>
			<div class="panel-body">
				Need to brush my teeth every morning.
			</div>
			<div class="panel-footer">
				Status: <span class="label label-default">Pending</span>
			</div>
		</div>
		<p class="text-center">
			<img class="loading" alt="Loading..." src="images/loading.gif" />
		</p>
	</div>
</div>