<div id="forgot_password" class="page row" ng-controller="ForgotPasswordController">
	<form name="login_form" class="col-xs-12 card">
		<h4><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Forgot Password</h4>
		<hr/>
		<div class="form-group" ng-class="{'has-error': loginAttempted && (login_form.email.$error.email || login_form.email.$error.required)}">
			<input type="email" class="form-control" ng-required="true" name="email" ng-model="data.email" placeholder="Email">
		</div>
		<div class="form-group">
			<button name="sbmt" type="submit" data-loading-text="Authenticating..." class="btn btn-default" ng-click="reset_password(login_form, $event)">Submit</button>
		</div>
		<div ng-class="loginClass" ng-show="displayMsg" ng-bind="loginMsg" class="alert" role="alert"></div>
	</form>
</div>