<div id="edit-goal" class="page row">
    <div class="col-xs-12">
        <gt-card title="{{$ctrl.title}}">
            <form novalidate name="edit_goal">
                <gt-field 
                    ng-repeat="(fid, field) in $ctrl.fields" 
                    fid="fid" 
                    options="field"
                    model="$ctrl.model"
                    on-init-field="$ctrl.addField(fieldModel)"
                ></gt-field>

                <h5>Schedule</h5>
                <hr />
                <div id="schedule-box">
                    <div id="calendar"></div>
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="start_date" 
                            placeholder="start date" 
                        />

                        <input 
                            type="text" 
                            name="end_date" 
                            placeholder="end date"
                        />
                    </div>
                </div>

                <button 
                    ng-click="$ctrl.saveGoal(edit_goal)" 
                    type="submit" 
                    class="btn btn-default"
                >Save</button>
            </form>
            <br />
            <div 
                class="alert" 
                role="alert"
                ng-class="{'alert-danger': !$ctrl.goalSaved, 'alert-success': $ctrl.goalSaved}" 
                ng-show="$ctrl.goalSaved && $ctrl.goalMessage">
                {{$ctrl.goalMessage}}
            </div>
        </gt-card>
    </div>
</div>
